<header>
  <h1>Ovi URL Shortener</h1>
</header>
<section class="container">
  <form #urlForm="ngForm" 
  (ngSubmit)="onSubmitUrlForm(urlForm)" 
  autocomplete="off"
  *ngIf="!isFormSubmitted">
    <input type="url" 
    name="inputUrl"
    [(ngModel)]="model.inputUrl"
    #inputUrl="ngModel" 
    class="form-input" 
    placeholder="Paste your URL here"
    required>
    <div class="form-error" [hidden]="(inputUrl.valid||inputUrl.pristine) && inputUrl.errors">
      <p *ngIf="inputUrl.errors && inputUrl.errors">
        Please enter URL</p>
    </div>
    <button type="submit" [disabled]="urlForm.invalid" class="form-btn">{{!isLoading?'Generate URL':'Generating...'}}</button>
  </form>
  <div class="short-url-div" *ngIf="isFormSubmitted">
    <br><br>
    <header><h1>Generated URL Link</h1></header>
    <div>
      <p>
        <a 
        #shortUrlElementRef
        [href]="shortUrl" 
        target="_blank" 
        title="Click Me">{{shortUrl}}</a>
      </p>
    </div>
    <div class="short-url-btn-div">
      <button (click)="copyUrl(shortUrlElementRef)">{{!isTextCopied?'Copy':'Copied'}}</button>&nbsp;&nbsp;&nbsp;
      <button (click)="reset()">Reset</button>
    </div>
  </div>
</section>